-
  const rooms = {
    items: [
      {
        title: `
          standart double
        `,
        image: 'room-1',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          },
        ],
        priceTitle: 'ціна від',
        priceNumber: 3100,
        book: {
          title: 'book now',
          link: '#'
        },
        more: {
          title: 'дізнатись більше',
          link: '#'
        },
      },
      {
        title: `
          standart twin
        `,
        image: 'room-2',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          },
        ],
        priceTitle: 'ціна від',
        priceNumber: 3100,
        book: {
          title: 'book now',
          link: '#'
        },
        more: {
          title: 'дізнатись більше',
          link: '#'
        },
      },
      {
        title: `
          superior double
        `,
        image: 'room-3',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          },
        ],
        priceTitle: 'ціна від',
        priceNumber: 3100,
        book: {
          title: 'book now',
          link: '#'
        },
        more: {
          title: 'дізнатись більше',
          link: '#'
        },
      },
      {
        title: `
          supeior twin
        `,
        image: 'room-4',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-2',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          },
        ],
        priceTitle: 'ціна від',
        priceNumber: 3100,
        book: {
          title: 'book now',
          link: '#'
        },
        more: {
          title: 'дізнатись більше',
          link: '#'
        },
      },
      {
        title: `
          superior family
        `,
        image: 'room-5',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          },
        ],
        priceTitle: 'ціна від',
        priceNumber: 3100,
        book: {
          title: 'book now',
          link: '#'
        },
        more: {
          title: 'дізнатись більше',
          link: '#'
        },
      },
      {
        title: `
          junior suite
        `,
        image: 'room-6',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          },
        ],
        priceTitle: 'ціна від',
        priceNumber: 3100,
        book: {
          title: 'book now',
          link: '#'
        },
        more: {
          title: 'дізнатись більше',
          link: '#'
        },
      },
      {
        title: `
          Suite
        `,
        image: 'room-7',
        services: [
          {
            icon: 'guests',
            title: '2 гостей',
          },
          {
            icon: 'bed-big',
            title: 'велике ліжко',
          },
          {
            icon: 'area',
            title: '18-25 кв.м',
          },
        ],
        priceTitle: 'ціна від',
        priceNumber: 3100,
        book: {
          title: 'book now',
          link: '#'
        },
        more: {
          title: 'дізнатись більше',
          link: '#'
        },
      },
    ],
    sectionName: 'rooms',
  };

section.rooms
  if rooms.items.length > 0
    +slider('rooms')
      for room, index in rooms.items
        - const title = room.title ?? '';
        - const image = room.image ?? '';
        - const priceTitle = room.priceTitle ?? '';
        - const priceNumber = room.priceNumber ?? '';
        - const services = room.services ?? [];
        - const book = room.book ?? {};
        - const more = room.more ?? {};

        - const mode = ((index + 1) % 2 === 0) ? 'even' : 'odd';

        +slide('rooms')
          div.room
            div(class="room__container container room__container--" + mode)
              div(class="room__top room__top--" + mode)
                h2(class="title-inner room__title room__title--mobile room__title--" + mode)
                  | !{title}

                div(class="room__img-wrapper room__img-wrapper--" + mode)
                  +img('room', mode, image, title)

              div(class="room__bottom room__bottom--" + mode)
                h2(class="title-inner room__title room__title--desktop room__title--" + mode)
                  | !{title}

                if services.length > 0
                  div(class="room__services-wrapper room__services-wrapper--" + mode)
                    +services('room', rooms.sectionName, services)

                div(class="room__buttons room__buttons--" + mode)
                  div(class="price room__price room__price--" + mode)
                    h4.price__title
                      | #{priceTitle}
                    p.price__number
                      | #{priceNumber} ₴

                  a(class="room__button button" href="" + book.link)
                    span
                      | #{book.title}

                  a(class="room__button button" href="" + more.link)
                    span
                      | #{more.title}

    +pagination('rooms')

