-
  const cards = [
    {
      title: `
        корпоративна співпраця
      `,
      image: 'corporate',
      subTitle: `
        корпоративна співпраця
      `,
      description: `
        Найкраще СПА в центрі Львова вже від 2500 грн! Cпа-день в Oasis Infinity Pool & SPA (з 6:00 до 20:00, не більше 6 годин). Плануєте день відпочинку у нашому розкішному Oasis Infinity Pool & SPA без ночівлі? Не пропустіть свій шанс відпочити!Оплатіть номер за спеціальною ціною та відпочивайте протягом 6 годин з 6:00 до 20:00. для власного задоволення. Тепер вам не потрібно платити повну вартість номера!
        <br />
        <br />
        Grand hotel lviv luxury&spa має у розпорядженні унікальний для львова spa-центр категорії люкс, до якого входять:
      `,
      services: [
        {
          icon: 'pool',
          title: 'бассейн'
        },
        {
          icon: 'spa',
          title: '6 видів саун'
        },
        {
          icon: 'gym',
          title: 'тренажерний зал'
        },
        {
          icon: 'mini-bar',
          title: 'фітобар'
        },
      ],
      book: {
        title: 'Book now',
        link: '#'
      },
      slides: [
        {
          image: 'slide-1',
          description: `
            Найкраще СПА в центрі Львова вже від 2500 грн! Cпа-день в Oasis Infinity Pool & SPA (з 6:00 до 20:00, не більше 6 годин). Плануєте день відпочинку у нашому розкішному Oasis Infinity Pool & SPA без ночівлі? Не пропустіть свій шанс відпочити!Оплатіть номер за спеціальною ціною та відпочивайте протягом 6 годин з 6:00 до 20:00. для власного задоволення. Тепер вам не потрібно платити повну вартість номера!
            <br />
            <br />
            Grand hotel lviv luxury&spa має у розпорядженні унікальний для львова spa-центр категорії люкс, до якого входять:
          `,
        },
        {
          image: 'slide-2',
          description: `
            Тепер вам не потрібно платити повну вартість номера!
          `,
          services: [
            {
              icon: 'pool',
              title: 'бассейн'
            },
            {
              icon: 'spa',
              title: '6 видів саун'
            },
            {
              icon: 'gym',
              title: 'тренажерний зал'
            },
            {
              icon: 'mini-bar',
              title: 'фітобар'
            },
          ],
        },
        {
          image: 'slide-3',
          description: `
            Тепер вам не потрібно платити повну вартість номера!
          `,
          book: {
            title: 'Book now',
            link: '#'
          },
        }
      ]
    },
    {
      title: `
        spa day use offer
      `,
      image: 'spa',
      subTitle: `
        spa day use offer
      `,
      description: `
        Найкраще СПА в центрі Львова вже від 2500 грн! Cпа-день в Oasis Infinity Pool & SPA (з 6:00 до 20:00, не більше 6 годин). Плануєте день відпочинку у нашому розкішному Oasis Infinity Pool & SPA без ночівлі? Не пропустіть свій шанс відпочити!Оплатіть номер за спеціальною ціною та відпочивайте протягом 6 годин з 6:00 до 20:00. для власного задоволення. Тепер вам не потрібно платити повну вартість номера!
        <br />
        <br />
        Grand hotel lviv luxury&spa має у розпорядженні унікальний для львова spa-центр категорії люкс, до якого входять:
      `,
      services: [
        {
          icon: 'pool',
          title: 'бассейн'
        },
        {
          icon: 'spa',
          title: '6 видів саун'
        },
        {
          icon: 'gym',
          title: 'тренажерний зал'
        },
        {
          icon: 'mini-bar',
          title: 'фітобар'
        },
      ],
      book: {
        title: 'Book now',
        link: '#'
      }
    },
    {
      title: `
        дегустаційний вікенд
      `,
      image: 'degustation',
      subTitle: `
        дегустаційний вікенд
      `,
      description: `
        Найкраще СПА в центрі Львова вже від 2500 грн! Cпа-день в Oasis Infinity Pool & SPA (з 6:00 до 20:00, не більше 6 годин). Плануєте день відпочинку у нашому розкішному Oasis Infinity Pool & SPA без ночівлі? Не пропустіть свій шанс відпочити!Оплатіть номер за спеціальною ціною та відпочивайте протягом 6 годин з 6:00 до 20:00. для власного задоволення. Тепер вам не потрібно платити повну вартість номера!
        <br />
        <br />
        Grand hotel lviv luxury&spa має у розпорядженні унікальний для львова spa-центр категорії люкс, до якого входять:
      `,
      services: [
        {
          icon: 'pool',
          title: 'бассейн'
        },
        {
          icon: 'spa',
          title: '6 видів саун'
        },
        {
          icon: 'gym',
          title: 'тренажерний зал'
        },
        {
          icon: 'mini-bar',
          title: 'фітобар'
        },
      ],
      book: {
        title: 'Book now',
        link: '#'
      }
    },
    {
      title: `
        романтичний вікенд
      `,
      image: 'romantic',
      subTitle: `
        романтичний вікенд
      `,
      description: `
        Найкраще СПА в центрі Львова вже від 2500 грн! Cпа-день в Oasis Infinity Pool & SPA (з 6:00 до 20:00, не більше 6 годин). Плануєте день відпочинку у нашому розкішному Oasis Infinity Pool & SPA без ночівлі? Не пропустіть свій шанс відпочити!Оплатіть номер за спеціальною ціною та відпочивайте протягом 6 годин з 6:00 до 20:00. для власного задоволення. Тепер вам не потрібно платити повну вартість номера!
        <br />
        <br />
        Grand hotel lviv luxury&spa має у розпорядженні унікальний для львова spa-центр категорії люкс, до якого входять:
      `,
      services: [
        {
          icon: 'pool',
          title: 'бассейн'
        },
        {
          icon: 'spa',
          title: '6 видів саун'
        },
        {
          icon: 'gym',
          title: 'тренажерний зал'
        },
        {
          icon: 'mini-bar',
          title: 'фітобар'
        },
      ],
      book: {
        title: 'Book now',
        link: '#'
      }
    },
  ];
section.cards

  ul.cards__list
    for card, index in cards
      - const cardImage = card.image ?? '';
      - const cardTitle = card.title ?? '';
      - const cardSubtitle = card.subTitle ?? '';
      - const cardDescription = card.description ?? '';
      - const cardServices = card.services ?? [];
      - const cardBook = card.book ?? {};
      - const slides = card.slides ?? [];
      - const cardsBottomClass = (slides.length > 0) ? ' cards__bottom--slider' : '';
      - const cardsContentClass = (slides.length > 0) ? ' cards__content--desktop' : '';
      - const oddEven = ((index + 1) % 2 > 0) ? 'odd' : 'even';

      li.cards__item
        div.cards__top
          h3(class="cards__title cards__title--" + (index + 1) + " cards__title--"  + oddEven)
            | !{cardTitle}

          div(class="cards__img-wrapper")
            div.cards__img
              picture.cards__picture
                source(media="(min-width: 1025px)" type="image/webp" srcset="img/smart/cards-" + cardImage + "-desktop.webp")
                source(media="(min-width: 100px)" type="image/webp" srcset="img/smart/cards-" + cardImage + "-mobile.webp")

                source(media="(min-width: 1025px)" srcset="img/smart/cards-" + cardImage + "-desktop.jpg")

                img(src="img/smart/cards-" + cardImage + "-mobile.jpg" alt="cards")

        div(class="cards__bottom cards__bottom--" + oddEven)
          if slides.length > 0
            +slider('cards')
              each slide in slides
                - const slideImage = slide.image ?? '';
                - const slideTitle = slide.title ?? '';
                - const slideSubtitle = slide.subTitle ?? '';
                - const slideDescription = slide.description ?? '';
                - const slideServices = slide.services ?? [];
                - const slideBook = slide.book ?? {};

                +slide('cards')
                  div(class="cards__img-wrapper")
                    div.cards__img
                      picture.cards__picture
                        source(media="(min-width: 100px)" type="image/webp" srcset="img/smart/cards-" + slideImage + ".webp")

                        img(src="img/smart/cards-" + slideImage + ".jpg" alt="cards")

                  div.cards__content.cards__content--mobile
                    if slideTitle.length > 0
                      h4.cards__subtitle
                        | !{slideTitle}

                    if slideDescription.length > 0
                      div.cards__description
                        | !{slideDescription}

                    if slideServices.length > 0
                      ul.cards__services.services.services--cards
                        for slideService in slideServices
                          li.services__item
                            div.services__icon
                              svg(width="40" height="40")
                                use(xlink:href="img/sprites/sprite-mono.svg#icon-" + slideService.icon)

                            h5.services__name
                              | #{slideService.title}

                    if slideBook !== {} && slideBook.title && slideBook.title.length > 0 && slideBook.link && slideBook.link.length > 0
                      a(class="cards__button button" href="" + slideBook.link)
                        span #{slideBook.title}

            div.cards__pagination.pagination.swiper-pagination

          div(class="cards__content " + cardsContentClass)
            h4.cards__subtitle
              | !{cardSubtitle}

            div.cards__description
              | !{cardDescription}

            if cardServices.length > 0
              ul.cards__services.services.services--smart
                for cardService in cardServices
                  li.services__item
                    div.services__icon
                      svg(width="40" height="40")
                        use(xlink:href="img/sprites/sprite-mono.svg#icon-" + cardService.icon)

                    h5.services__name
                      | #{cardService.title}

            if cardBook.title && cardBook.title.length > 0 && cardBook.link && cardBook.link.length
              a(class="cards__button button" href="" + cardBook.link)
                span #{cardBook.title}
