-
  const info = {
    image: 'info',
    services: [
      {
        icon: 'guests',
        title: '2 гостей',
      },
      {
        icon: 'area',
        title: '18-25 кв.м',
      },
    ],
    text: `
      Сучасний компактний номер, який ідеально підходить для розміщення 1-2 гостей, які зупиняються на період 1-2 ночі і не планують багато часу проводити в номері. Зазвичай цей номер обирають наші корпоративні
      партнери для відряджень або групових поселень.
      <br />
      <br />
      В кожному номері є ванна кімната з душем та санвузлом. Зона для сну з 1 великим або 2 ліжками.
    `,
    textMore: 'Детальніше',
    priceTitle: 'ціна від',
    priceNumber: 3100,
    book: {
      title: 'book now',
      link: '#'
    },
  };

section(class="info info--" + pageName)
  div.info__container.container
    if info.services.length > 0
      +services('info', 'standart-info', info.services, pageName)

    div(class="info__content info__content--" + pageName)
      p(class="info__text info__text--" + pageName)
        |  !{info.text}

      button(class="info__text info__more info__more--" + pageName)
        | #{info.textMore}

    div(class="info__price price")
      h4.price__title
        | #{info.priceTitle}
      p.price__number
        | #{info.priceNumber} ₴

    a(class="info__button button info__button--" + pageName href="" + info.book.link)
      span
        | #{info.book.title}

    +img('info', pageName, 'info')


