mixin event(attr = {})
  - const title = attr.title ?? '';
  - const titleSmall = attr.titleSmall ?? '';
  - const subTitle = attr.subTitle ?? '';

  - const slides = attr.slides ?? [];
  - const content = attr.content ?? null;

  - const sectionName = attr.sectionName ?? pageName;

  section(class="event event--" + sectionName)
    div(class="event__container container event__container--" + sectionName)
      if (titleSmall && titleSmall !== '') || (subTitle && subTitle !== '')
        h2(class="event__title-small event__title-small--" + sectionName)
          | !{titleSmall || subTitle}

    div(class="event__container container event__container--" + sectionName)
      div(class="event__top event__top--" + sectionName)
        if title && title !== ''
          h2(class="title-inner event__title event__title--mobile event__title--" + sectionName)
            | !{title}

        if slides.length > 0
          div(class="event__slider-container event__slider-container--" + sectionName)
            +slider('event', 'images', sectionName)
              each slide in slides
                +slide('event', sectionName, 'images')
                  +img('event', sectionName, slide.image, title)

                  if slide.titleImage && slide.titleImage !== ''
                    h3(class="title-inner event__title-image event__title-image--mobile")
                      | !{slide.titleImage}

            +pagination('event', sectionName)

      div(class="event__bottom event__bottom--" + sectionName)
        if title && title !== ''
          h2(class="title-inner event__title event__title--desktop event__title--" + sectionName)
            | !{title}

        +navigation('event', sectionName)

        if slides.length > 0 && !content
          +slider('event', 'text')
            each slide in slides
              +slide('event', sectionName, 'text')
                if (slide.title && slide.title !== '') || subTitle
                  h3(class="event__subtitle event__subtitle--" + sectionName)
                    | !{slide.title || subTitle}

                if slide.titleImage && slide.titleImage !== ''
                  h3(class="title-inner event__title-image event__title-image--tablet")
                    | !{slide.titleImage}

                if slide.topText || slide.bottomText || slide.text || slide.list
                  div(class="event__content event__content--" + sectionName)
                    if slide.topText && slide.topText !== ''
                      p.event__text.event__text--top
                        | !{slide.topText}

                    if slide.bottomText && slide.bottomText !== ''
                      p.event__text.event__text--bottom
                        | !{slide.bottomText}

                    if slide.text && slide.text !== ''
                      p(class="event__text event__text--" + sectionName)
                        | !{slide.text}

                    if slide.list
                      - const list = slide.list.split('\r\n');
                      if list.length > 0
                        ul(class="event__list")
                          for item in list
                            li.event__item
                              | !{item}

                if slide.worktime && slide.worktime !== ''
                  +worktime('event', sectionName, worktime)

                if slide.services && slide.services.length > 0
                  +services('event', sectionName, slide.services)

                if slide.priceTitle && slide.priceNumber
                  div(class="event__price price")
                    h4(class="price__title price__title--" + sectionName)
                      | #{slide.priceTitle}
                    p.price__number
                      | #{slide.priceNumber} ₴

                if slide.button && slide.button.text && slide.button.text !== '' && slide.button.link && slide.button.link !== ''
                  div(class="event__buttons event__buttons--" + sectionName)
                    a(class="button event__button event__button--" + sectionName href="" + slide.button.link)
                      span
                        | !{slide.button.text}

                    div(class="event__arrow-top arrow-top event__arrow-top--" + sectionName)
                      svg(width="48" height="48")
                        use(xlink:href="img/sprites/sprite-mono.svg#icon-arrow-top")


        else if content
          div(class="event__content event__content--" + sectionName)
            if content.title && content.title !== ''
              h3(class="event__subtitle event__subtitle--" + sectionName)
                | !{content.title}

            if content.topText && content.topText !== ''
              p.event__text.event__text--top
                | !{content.topText}

            if content.bottomText && content.bottomText !== ''
              p.event__text.event__text--bottom
                | !{content.bottomText}

          if content.button && content.button.text && content.button.text !== '' && content.button.link && content.button.link !== ''
            a(class="button event__button event__button--" + sectionName href="" + content.button.link)
              span
                | !{content.button.text}

