mixin event(attr = {})
  - const title = attr.title ?? '';

  - const images = attr.images ?? [];
  - const texts = attr.texts ?? [];
  - const content = attr.content ?? null;

  - const sectionName = attr.sectionName ?? pageName;

  section(class="event event--" + sectionName)
    div(class="event__container container event__container--" + sectionName)
      div(class="event__top event__top--" + sectionName)
        h2(class="title-inner event__title event__title--mobile event__title--" + sectionName)
          | !{title}

        if images.length > 0
          div(class="event__slider-container event__slider-container--" + sectionName)
            +slider('event', 'images')
              each image in images
                +slide('event', sectionName, 'images')
                  +img('event', '', image, title)

            +pagination('event')

      div(class="event__bottom event__bottom--" + sectionName)
        h2(class="title-inner event__title event__title--desktop event__title--" + sectionName)
          | !{title}

        +navigation('event', sectionName)

        if texts.length > 0
          +slider('event', 'text')
            each textsItem in texts
              +slide('event', sectionName, 'text')
                div.event__content
                  if textsItem.title && textsItem.title !== ''
                    h3(class="event__subtitle event__subtitle--" + sectionName)
                      | !{textsItem.title}

                  if textsItem.topText && textsItem.topText !== ''
                    p.event__text.event__text--top
                      | !{textsItem.topText}

                  if textsItem.bottomText && textsItem.bottomText !== ''
                    p.event__text.event__text--bottom
                      | !{textsItem.bottomText}

                if textsItem.worktime && textsItem.worktime !== ''
                  +worktime('event', pageName, worktime)

                if textsItem.services && textsItem.services.length > 0
                  +services('event', '', textsItem.services)

                if textsItem.button && textsItem.button.text && textsItem.button.text !== '' && textsItem.button.link && textsItem.button.link !== ''
                  div(class="event__buttons event__buttons--" + sectionName)
                    a(class="button event__button event__button--" + sectionName href="" + textsItem.button.link)
                      span
                        | !{textsItem.button.text}

                    div(class="event__arrow-top arrow-top event__arrow-top--" + sectionName)
                      svg(width="48" height="48")
                        use(xlink:href="img/sprites/sprite-mono.svg#icon-arrow-top")


        else if content
          div.event__content
            if content.title && content.title !== ''
              h3(class="event__subtitle event__subtitle--" + sectionName)
                | !{content.title}

            if content.topText && content.topText !== ''
              p.event__text.event__text--top
                | !{content.topText}

            if content.bottomText && content.bottomText !== ''
              p.event__text.event__text--bottom
                | !{content.bottomText}

          if content.button && content.button.text && content.button.text !== '' && content.button.link && content.button.link !== ''
            a(class="button event__button event__button--" + sectionName href="" + content.button.link)
              span
                | !{content.button.text}

