mixin food(attr = {})
  - const foodImages = attr.foodImages ?? [];
  - const foodTitle = attr.foodTitle ?? '';
  - const foodTextTop = attr.foodTextTop ?? '';
  - const foodTextBottom  = attr.foodTextBottom ?? '';

  - const foodTabs  = attr.foodTabs ?? [];

  section(class="food food--" + pageName)
    div.food__container.container
      div(class="food__top food__top--" + pageName)
        h2(class="title-inner food__title food__title--mobile food__title--" + pageName)
          | !{foodTitle}

        if foodImages.length > 0
          div(class="food__slider-container food__slider-container--" + pageName)

            +slider('food')
              each image in foodImages
                +slide('food')
                  +img('food', '', image, foodTitle)

            +navigation('food')

            div.food__pagination.food__pagination--tablet.pagination.swiper-pagination



      div(class="food__bottom food__bottom--" + pageName)
        h2(class="title-inner food__title food__title--desktop food__title--" + pageName)
          | !{foodTitle}

        div.food__content
          if foodTextTop !== ''
            p.food__text.food__text--top
              | !{foodTextTop}

          if foodTextBottom !== ''
            p.food__text.food__text--bottom
              | !{foodTextBottom}

          if foodTabs.length > 0
            ul.food__tabs
              for foodTab, index in foodTabs
                li(class="food__tab-number food__tab-number--" + (index + 1))
                  | !{index + 1}

              for foodTab, index in foodTabs
                li(class="food__tab-text food__tab-text--" + (index + 1))
                  if foodTab.foodTextTop !== ''
                    p.food__text.food__text--top
                      | !{foodTab.foodTextTop}

                  if foodTab.foodTextBottom !== ''
                    p.food__text.food__text--bottom
                      | !{foodTab.foodTextBottom}
        if block
          block

        if foodImages.length > 0
          div.food__pagination.food__pagination--mobile.pagination.swiper-pagination
