mixin food(attr = {})
  - const images = attr.images ?? [];
  - const title = attr.title ?? '';
  - const subtitle = attr.subtitle ?? '';
  - const textTop = attr.textTop ?? '';
  - const textBottom  = attr.textBottom ?? '';
  - const sectionName = attr.sectionName ?? pageName;

  - const tabs = attr.tabs ?? [];
  - const more = attr.more ?? null;

  section(class="food food--" + sectionName)
    div.food__container.container
      div(class="food__top food__top--" + sectionName)
        h2(class="title-inner food__title food__title--mobile food__title--" + sectionName)
          | !{title}

        if images.length > 0
          div(class="food__slider-container food__slider-container--" + sectionName)

            +slider('food', sectionName)
              each image in images
                +slide('food', sectionName)
                  +img('food', sectionName, image, title)

            +navigation('food', sectionName)

            +pagination('food', sectionName)



      div(class="food__bottom food__bottom--" + sectionName)
        h2(class="title-inner food__title food__title--desktop food__title--" + sectionName)
          | !{title}

        if subtitle !== ''
          p.food__subtitle
            | !{subtitle}

        div(class="food__content food__content--" + sectionName)
          if textTop !== ''
            p.food__text.food__text--top
              | !{textTop}

          if textBottom !== ''
            p.food__text.food__text--bottom
              | !{textBottom}

          if tabs.length > 0
            ul(class="food__tabs food__tabs--" + sectionName)
              for foodTab, index in tabs
                li(class="food__tab-number food__tab-number--" + (index + 1) + " food__tab-number--" + sectionName)
                  | !{index + 1}

              for foodTab, index in tabs
                li(class="food__tab-text food__tab-text--" + (index + 1))
                  if foodTab.textTop !== ''
                    p.food__text.food__text--top
                      | !{foodTab.textTop}

                  if foodTab.textBottom !== ''
                    p.food__text.food__text--bottom
                      | !{foodTab.textBottom}

            if more
              a(class="food__button button food__button--" + sectionName href="" + more.link)
                span
                  | !{more.title}

        if attr.worktime || attr.menu
          div(class="food__buttons food__buttons--" + sectionName)
            if attr.worktime && attr.worktime !== ''
              +worktime('food', '', attr.worktime)

            if attr.menu && attr.menu.link !== '' && attr.menu.text !== ''
              a(class="food__button button food__button--" + sectionName href="" + attr.menu.link)
                span
                  | !{attr.menu.text}
