mixin home(attr = {})
  - const sectionName = attr.sectionName ?? 'smart';

  - const title = attr.title ?? '';
  - const contentTop = attr.contentTop ?? '';
  - const contentBottom = attr.contentBottom ?? '';

  - const buttonsJustify = attr.buttonsJustify ?? 'end';
  - const more = attr.more ?? {};
  - const book = attr.book ?? {};

  - const navigation = attr.navigation ?? 0;

  - const images = attr.images ?? [];

  - const mode = attr.mode ?? 'direct';

  section(class="home home--" + sectionName)

    div(class="home__container container home__container--" + mode)
      div(class="home__top home__top--" + mode)
        h2(class="home__title home__title--mobile title home__title--" + mode + " home__title--" + sectionName)
          | !{title}

        +slider('home', mode)
          each image in images
            - const imageName = image ?? 'smart';//заглушка для верстки потом надо переделать под реальные URLs
            +slide('home', sectionName)
              div(class="home__img")
                picture.home__picture
                  source(media="(min-width: 1025px)" type="image/webp" srcset="img/home/" + imageName + "-desktop.webp")
                  source(media="(min-width: 500px)" srcset="img/home/" + imageName + "-tablet.webp")
                  source(media="(min-width: 100px)" type="image/webp" srcset="img/home/" + imageName + "-mobile.webp")

                  source(media="(min-width: 1025px)" srcset="img/home/" + imageName + "-desktop.jpg")
                  source(media="(min-width: 500px)" srcset="img/home/" + imageName + "-tablet.jpg")

                  img(src="img/home/" + imageName + "-mobile.jpg" alt="" + title)

      div(class="home__bottom home__bottom--" + mode + " home__bottom--" + sectionName)
        h2(class=" home__title home__title--desktop title home__title--" + mode)
          | !{title}
        div(class="home__content home__content--" + sectionName + " home__content--" + mode)
          p(class="home__text home__text--top home__text--" + sectionName)
            | #{contentTop}

          p(class="home__text home__text--bottom")
            | #{contentBottom}

        div(class="home__buttons home__buttons--" + buttonsJustify + " home__buttons--" + mode + " home__buttons--"  + sectionName)
          if block
            block

          if more && more.link !== '' && more.title !== ''
            a(class="home__button home__button--more button button--white home__button--" + sectionName href= more.link download)
              span #{more.title}

          if book && book.link !== '' && book.title !== ''
            a(class="home__button home__button--book-now button button--white-10 button--book-now home__button--" + sectionName href= book.link download)
              span #{book.title}

          if navigation === 1
            +navigation('home')

        div.home__pagination.pagination.swiper-pagination



