- let slides = [];

//Colors
- const darkBlue = '#2A394D';
- const blue = '#48586C';
- const starfit = '#FFBD4D';
- const beige = '#C4A282';
- const green = '#858569';

mixin vertical(slides, bgColor, mode = '')
  - let modeImage = '';
  - let modeButtons = '';
  - let modeTop = '';
  - let modeBottom = '';
    if mode !== ''
      -  modeImage = ' vertical__img--' + mode;
      -  modeButtons = ' vertical__buttons--' + mode;
      -  modeTop = ' vertical__top--' + mode;
      -  modeBottom = ' vertical__bottom--' + mode;

  section(class="vertical" style="background-color: " + bgColor + ";")
    div.vertical__slider.swiper
      div.vertical__slider-wrapper.swiper-wrapper

        each slide in slides
          - const title = slide.title ?? '';
          - const titlePosition = slide.titlePosition ?? 'tr';
          - const imageName = slide.image ?? 'smart';
          - const content = slide.content ?? '';
          - const more = slide.more ?? 'more';
          - const book = slide.book ?? 'book';
          div(class="vertical__slide swiper-slide" style="background-color: " + bgColor + ";")
            div.vertical__container.container
              div(class="vertical__top" + modeTop)
                h2(class="vertical__title vertical__title--mobile title vertical__title--" + titlePosition)
                  | !{title}

                div(class="vertical__img" + modeImage)
                  picture.vertical__picture
                    source(media="(min-width: 1025px)" type="image/webp" srcset="img/index/" + imageName + "-desktop.webp")
                    source(media="(min-width: 500px)" srcset="img/index/" + imageName + "-tablet.webp")
                    source(media="(min-width: 100px)" type="image/webp" srcset="img/index/" + imageName + "-mobile.webp")

                    source(media="(min-width: 1025px)" srcset="img/index/" + imageName + "-desktop.jpg")
                    source(media="(min-width: 500px)" srcset="img/index/" + imageName + "-tablet.jpg")

                    img(src="img/index/" + imageName + "-mobile.jpg" alt="" + titleTop + ' ' + titleBottom)

              div(class="vertical__bottom" + modeBottom)
                h2.vertical__title.vertical__title--desktop.title
                  | !{title}
                div.vertical__content !{content}

                div(class="vertical__buttons" + modeButtons)
                  - let hideBookButtonMobile = '';
                  if more && more.link && more.title
                    - hideBookButtonMobile = ' vertical__button--book-now';

                    a(class="vertical__button button button--white button--standart" href= more.link download)
                      | #{more.title}

                  if book && book.link && book.title
                    a(class="vertical__button button button--white-10 button--book-now button--standart" + hideBookButtonMobile href= book.link download)
                      | #{book.title}

      div.vertical__pagination.swiper-pagination



